# deps
node_modules/
__pycache__/
.venv/
*.pyc

# build
dist/
build/
*.tsbuildinfo

# env
.env
*.env.local

# ide
.idea/
.vscode/
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# prisma
packages/prisma/prisma/migrations/**/migration_lock.toml

# logs
*.log

# telegram adapter sessions
apps/telegram-adapter-service/.sessions/
apps/telegram-adapter-service/bot_sessions/
apps/whatsapp-adapter-service/.sessions/
apps/whatsapp-adapter-service/bot_sessions/
apps/whatsapp-adapter-service/bot.qr.png

# coverage
coverage/

# misc
nul
